.profile__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: $kindergarten-color;
  padding: 1.5rem;
  margin-top: 4rem;


  @include desktop {
    flex-direction: row;
    margin-top: 4rem;
    background: $kindergarten-color;
    margin: 0 auto;
    width: 1200px;
    padding: 1.5rem;
  }

  .profile__avatar {
    border-radius: 100%;
    max-width: 200px;
    padding: 1.5rem;
    @include desktop {
      border-radius: 50%;
      padding: 1.5rem;
    }
  }

  .profile__data {
    align-self: center;
    @include desktop {
      align-self: center;
    }

    .profile__user {
      font-family: $primary-font;
      font-weight: bold;

      @include desktop {
        padding: 0.5rem;
      }
    }
  }
}
