.admin__panel {
  display: flex;
  flex-direction: column;

  margin-top: 5rem;

  @include desktop {
    @include center;
  }
  .section__title {
    align-self: center;
    & {
      color: $form-color;
    }
  }

  .user__list {
    font-family: $primary-font;
    font-weight: bold;
    margin: 1.5rem;
  }
}
