.admin__panel {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;

  @include desktop {
    @include center;
  }

  .section__title {
    align-self: center;
    color: $form-color;
    @include desktop {
      margin-top: 2rem;
    }
  }

  .user__list {
    font-family: $primary-font;
    font-weight: bold;
    margin: 1.5rem;
  }
}
