.chatBox_container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid red;
  background: rgb(25, 82, 7);
  margin-top: 5rem;
  max-width: 550px;
  
  @include desktop {
    @include center;
  }
}
