.home {
  display: flex;
  justify-content: center;
  font-family: $primary-font;
  margin-top: 5rem;

  .lerning {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    article {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin: 5px;
      background: map-get($article, article-bg);

      @include desktop {
        background: red;
      }

      .tiles_title {
        font-size: 2rem;
        color: map-get($article, article-title);
        padding: 0.5rem;
      }
    }
  }

  .tiles_logo {
    padding: 1rem;
    width: 500px;
  }
}
