.home {
  display: flex;
  justify-content: center;
  font-family: $primary-font;
  margin-top: 5rem;

  @include desktop {
    margin: 0;
  }

  .lerning {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .lerning_tiles {
      @include desktop {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 45%;
      }
    }
    article {
      display: flex;
      flex-direction: column;
      align-items: center;
      background: map-get($article, articzle-bg);
      margin: 5px;
      width: 100%;

      @include desktop {
        background: map-get($article, article-bg);
        margin: 1.25rem;
      }

      .tiles_title {
        font-size: 2rem;
        color: #000;
        padding: 0.5rem;
      }
    }
  }

  .tiles_logo {
    padding-bottom: 1rem;
    width: 500px;
    cursor: pointer;
  }
}
