.message__list {
  display: flex;
  flex-direction: column;
  text-align: left;
  max-width: 550px;
  & {
    background: $desktop-hover-bg;
  }
  .message__item {
    display: flex;
    max-width: 550px;
    text-align: left;
    .user__item {
      // tutaj wstrzyknąć mixina kolorującego tło na przemian
      background: rgb(255, 255, 255);
    }
  }
}
