.chat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 550px;

  .btn_show_older_message {
    border: none;
    background: yellowgreen;
    padding: 5px;
    margin-bottom: 1rem;
    width: 100%;
  }
  .load_older_message {
    color: $form-color;
    font-size: 40px;
    text-align: center;
  }
  .chat_title {
    color: $form-color;
    font-size: 1rem;
  }

  .form_chatBox {
    display: flex;
    font-family: $primary-font;

    .input_message {
      font-size: larger;
      color: $dark-grey;
      text-align: center;
      background: #bbbbbb;
      border: none;
      padding: 5px;
      margin-right: 3px;
      width: 100%;
    }

    .btn__send__message {
      padding: 5px 30px;
      background: #10aded;
      border: none;
    }
  }
}
