// 2. popraw strukturę kodu
// 3. ostyluj kolory, czcionki i wielkości

.header {
  display: flex;
  height: 3.75rem;
  background: $mobile-header;

  .teacher_icon {
    font-size: 2.5rem;
    color: $mobile-link;
  }
  .menuToggle {
    display: block;
    // TUTAJ JEST JAKIŚ BUG Z OUTLINEM Z PRAWEJ STRONY
    position: absolute;
    top: 0.313rem;
    left: 0;
    z-index: 1;
    background: transparent;
    // margin: 0.625rem;
  }

  .menuToggle a {
    color: $black-link;
    text-decoration: none;
  }

  .menuToggle input {
    display: block;
    position: absolute;
    top: -0.938rem;
    left: -0.625rem;
    /* checkbox size */
    width: 3.75rem;
    height: 3.75rem;
    opacity: 0; /*   hide it */
    z-index: 2; /* place it over the hamburger */
    cursor: pointer;
  }

  /* ikona hamburgera 3 span */
  .menuToggle span {
    display: block;
    position: relative;
    top: 1rem;
    left: 1rem;
    width: 2.063rem;
    height: 0.25rem;
    margin-bottom: 5px;
    background: $mobile-menu;
    border-radius: 3px;
    transform-origin: 4px 0px;
    z-index: 1;
  }
  /* animation hamburger line */
  .menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  .menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  .menuToggle input:checked ~ span {
    transform: rotate(45deg) translate(-2px, -1px);
    background: $mobile-link;
    opacity: 1;
  }

  .menuToggle input:checked ~ span:nth-last-child(3) {
    transform: rotate(0deg) scale(0.2, 0.2);
    opacity: 0;
  }

  .menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }

  /*
 * Make this absolute positioned
 * at the top left of the screen
 */
  .menu {
    .header_logo {
      display: flex;
      justify-content: center;
      font-family: $primary-font;
      margin-bottom: 1rem;
    }

    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    background: $mobile-menu;

    transform-origin: 0% 0%;
    transform: translate(0, -100%);
    transition: transform 0.5s linear;
    margin: -3.4375rem 0 0 0;
    padding: 0.625rem;
    padding-top: 4rem;
    list-style-type: none;
  }

  /* style listy */
  .menu li {
    font-family: $secondary-font;
    font-weight: bold;
    font-size: 1.275rem;
    text-align: center;
    padding: 0.325rem 0;
    color: $mobile-link;
  }

  .menuToggle input:checked ~ ul {
    transform: none;
  }
}
// desktop menu

//   .page_header_container {
//     box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);

//     .page_header .container {
//       height: 5rem;
//       display: flex;
//       justify-content: space-between;
//       align-items: center;

//       .header_logo {
//         display: flex;
//         align-items: center;
//         font-family: $primary-font;
//         .header_title {
//           color: $kindergarten-color;
//           margin-right: 1rem;
//         }
//         .logo_text {
//           color: $form-color;
//           font-weight: bold;
//         }
//       }
//       .page_nav_list {
//         display: flex;
//         align-items: center;
//         li {
//           margin-left: 40px;
//         }
//         a {
//           text-transform: uppercase;
//           text-decoration: none;
//           color: #8e9696;
//           font-weight: 600;
//           border-bottom: 4px solid transparent;
//           letter-spacing: 0.1653rem;
//           &:hover {
//             color: #213131;
//             border-color: $kindergarten-color;
//           }
//         }
//       }
//     }
//     @include mobile {
//       display: none;
//     }
//     @include tablet {
//       display: none;
//     }
//   }
// }
