.header {
  background: $mobile-header;
  position: fixed;
  width: 100%;
  z-index: 3;
  .header-logo {
    font-size: 3.5rem;
    color: $mobile-link;
  }
  .menu {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background: $mobile-menu;
    color: $mobile-link;
    text-align: center;
  }

  li a {
    display: block;
    font-family: $primary-font;
    font-size: 1.2rem;
    font-weight: bold;
    color: $mobile-link;
    padding: 1rem;
    text-decoration: none;
  }
}
/* menu */

.header .menu {
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  padding: 28px 20px;
  position: relative;
  user-select: none;
  background: $mobile-header;

  .navicon {
    background: $mobile-menu;
    display: block;
    height: 2px;
    position: relative;
    transition: 0.2s ease-out;
    width: 18px;

    &:before,
    &:after {
      background: $mobile-menu;
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      transition: all 0.2s ease-out;
      width: 100%;
    }

    &:before {
      top: 5px;
    }

    &:after {
      top: -5px;
    }
  }
}

/* menu btn */
.header .menu-btn {
  display: none;

  &:checked ~ {
    .menu {
      max-height: 640px;
    }

    .menu-icon {
      .navicon {
        background: transparent;

        &:before {
          transform: rotate(-45deg);
        }

        &:after {
          transform: rotate(45deg);
        }
      }

      &:not(.steps) .navicon {
        &:before,
        &:after {
          top: 0;
        }
      }
    }
  }
}
