.signIn__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .logo {
      display: flex;
      align-self: center;
      width: 70%;
      height: 50%;
      margin-top: 2rem;
      border-radius: 20px;
      box-shadow: 0px 0px 7px 1px rgba(255, 255, 255, 0.75);
      @include tablet {
        width: 100%;
      }
      @include desktop {
        width: 70%;
      }
    }
    @include desktop {
      width: 30rem;
    }

    .input__label {
      border: none;
      border-bottom: 1px solid black;
      text-align: center;
      padding: 5px;
      margin: 1.5rem;
      width: 100%;
      @include tablet {
        margin: 2rem;
        width: 150%;
      }
    }
    .send__btn {
      font-family: $primary-font;
      text-transform: uppercase;
      font-weight: bold;
      background: $form-color;
      color: #000;
      border-radius: 15px;
      padding: 0.6rem 4rem;
      margin: 15px 0;
      border: none;
      width: 100%;
      @include tablet {
        border-radius: 10px;
        padding: 1rem 4rem;
        margin-bottom: 2rem;
        width: 200%;
      }
      @include desktop {
        cursor: pointer;
        padding: 1rem 4rem;
        margin-bottom: 3rem;
        border-radius: 10px;
        &:hover {
          box-shadow: 0px 10px 13px -7px #10aded,
            0px 0px 19px 10px rgba(0, 0, 0, 0.25);
        }
      }
    }
    input::placeholder {
      font-family: $primary-font;
      color: $form-color;
    }
  }
}
