.sign_out_btn {
  font-family: $primary-font;
  text-transform: uppercase;
  font-weight: bold;
  color: $mobile-link;
  margin-bottom: 1rem;
  padding: 0.3rem 1rem;
  border: 1px solid $mobile-link;
  border-radius: 15px;
  cursor: pointer;

  @include desktop {
    display: contents;
    color: $desktop-link;
    border: none;

    &:hover {
      color: red;
    }
  }
}
